@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
font-family: 'hyper';
src: url('../fonts/hyperx.otf') format('truetype');
}
@font-face {
  font-family: 'clipmenu';
  src: url('../fonts/Gliker-Regular.woff2') format('woff2');
}



.hero-btn-3{
  font-family: 'hyper', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #1a362f !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 8px 18px;
  background: #1bd392;
  border-radius: 50px;
}
.hero-btn-3 svg {
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}
.hero-btn-3 svg .line {
  opacity: 0;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-3 svg .tip {
  transform: translateX(0);
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-3:hover {
  background: #f7f5f2 !important;
  color: #1bd392 !important;
}
.hero-btn-3:hover svg .line {
  opacity: 1;
}
.hero-btn-3:hover svg .tip {
  transform: translateX(3px);
}





.hero-btn-8{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #161817 !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 12px 18px;
  background: #ffeac5;
  border-radius: 50px;
}
.hero-btn-8 svg {
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}
.hero-btn-8 svg .line {
  opacity: 0;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-8 svg .tip {
  transform: translateX(0);
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-8:hover {
  background: #efd9b1 !important;
  color: #ffffff !important;
}
.hero-btn-8:hover svg .line {
  opacity: 1;
}
.hero-btn-8:hover svg .tip {
  transform: translateX(3px);
}



.hero-btn-2{
  font-family: 'hyper', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 8px 18px;
  background: #635BFF;
  border-radius: 50px;
}
.hero-btn-2 svg {
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}
.hero-btn-2 svg .line {
  opacity: 0;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-2 svg .tip {
  transform: translateX(0);
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-2:hover {
  background: #191a30 !important;
}
.hero-btn-2:hover svg .line {
  opacity: 1;
}
.hero-btn-2:hover svg .tip {
  transform: translateX(3px);
}



.btn-remove{
  font-family: 'hyper', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ff1557 !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 8px 18px;
  background: #ffffff;
  border-radius: 50px;
}
.btn-remove:hover {
  background: #ffeef1 !important;
  color: #ff1557 !important;
}


.btn-desh{
  font-family: 'hyper', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #1ab35f !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 8px 18px;
  background: #ffffff;
  border-radius: 50px;
}
.btn-desh:hover {
  background: #eef9ff !important;
  color: #1ad5ee !important;
}


.hero-btn-4{
  font-family: 'hyper', sans-serif !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff !important;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  padding: 8px 18px;
  background: #1a362f;
  border-radius: 50px;
}
.hero-btn-4 svg {
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}
.hero-btn-4 svg .line {
  opacity: 0;
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-4 svg .tip {
  transform: translateX(0);
  -webkit-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
.hero-btn-4:hover {
  background: #2a564b !important;
  color: #1bd392 !important;
}
.hero-btn-4:hover svg .line {
  opacity: 1;
}
.hero-btn-4:hover svg .tip {
  transform: translateX(3px);
}

.lgclip {
  font-family: 'clipmenu', sans-serif !important;
}
.icmenu svg {
transition: transform .1s ease-in-out;
}
.icmenu:hover svg,
.icmenu.active svg {
transform: scale(1.06);
}
.icmenu {
opacity: 0.5;
}
.icmenu:hover,
.icmenu.active {
opacity: 1;
}  
.loop {
transition: all 0.4s ease !important;
}
.loop.active {
transform: scale(1.08);  /* Esto agranda un poco el enlace */
}

.hero-btn-1{
    font-family: 'hyper', sans-serif !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px !important;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #ffffff !important;
    -webkit-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
    padding: 8px 18px;
    background: #191a30;
    border-radius: 50px;
  }
  .hero-btn-1 svg {
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
  }
  .hero-btn-1 svg .line {
    opacity: 0;
    -webkit-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
  }
  .hero-btn-1 svg .tip {
    transform: translateX(0);
    -webkit-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
  }
  .hero-btn-1:hover {
    background: #ececed !important;
    color: #191a30 !important;
  }
  .hero-btn-1:hover svg .line {
    opacity: 1;
  }
  .hero-btn-1:hover svg .tip {
    transform: translateX(3px);
  }  